In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 
ANS:
    * it :is a expression
    'hello' :it is a values
    -87.8: it is a values
    - : it is a expression
     /: it is a expression
     +: it is a expression
     6: it is a values

In [ ]:
2. What is the difference between string and variable?
Ans:
  Variables are symbols that you can use to store data in a program.
Strings are data,  we can use them to fill up a variable.
e.g:
    "hello" # this is a string
    a="hello" # this is a variable

In [ ]:
3. Describe three different data types.
Ans:
    1.Numeric data type
    2.Boolean data type
    3.Sequencial data type

In [ ]:
4. What is an expression made up of? What do all expressions do?
Ans:
   An expression is a combination of values and operators. All expressions evaluate (that is, reduce) to a single value.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans:
    An expression evaluates to a single value. A statement does not.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [6]:
bacon=22
bacon+1

23

In [7]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Object `be` not found.

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?
Ans:
    eggs is a valid variable name becouse variable name should start with alphabet and
    100 is invalid  becouse variable name can contain number but we can't start with numbers.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans:
    The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions
    of the value passed to them.

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans:
    we can not add str and int value.
    we can fix this error by converting int into a str.